.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 80px;
}

.titleBox {
    margin-top: 20px;
    margin-left: -40px;
    display: flex;
    align-items: center;
}

.titleText {
    /* background-color: aliceblue; */
    margin-right: 10px;
    font-weight: bold;
}

.titleInput {
    width: 500px;
    height: 35px;
}


.contentBox {
    display: flex;
    margin-top: 5px;
    margin-left: -40px;
}

.contentText {
    margin-right: 10px;
    font-weight: bold;
    margin-top: -1px;
    margin-left: -15px;
}

.contentInput {
    width: 500px;
    height: 35px;
    display: flex;
    align-items: center;

}

.submitBtn {
    margin-top: 50px;
}

.member {
    margin-top: 50px;
    color: gray;
}

.memberRegister {
    margin-top: 5px;
    cursor: pointer;
    color: gray;
    text-decoration: underline;
}