.firstContent {
    display: flex;
    align-items: center;
    flex-direction: row;
}

/* notice 이미지 */
.img {
    /* background-color: tomato; */
    width: 60px;
    height: 60px;
    padding: 0px;
    margin: 0px;
    margin-top: 80px;
    margin-left: 110px;
}

.title {
    font-weight: bold;
    width: 140px;
    padding: 0px;
    margin: 0px;
    margin-left: 10px !important;
    /* background-color: violet; */
}

.board-container {
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
    /* background-color: aliceblue; */
}

.board-table {
    width: 100%;
    border-collapse: collapse;
}

.board-table thead {
    background: black;
    color: white;
}

.board-table th,
.board-table td {
    padding: 10px;
    text-align: center;
}

.board-table tbody tr:nth-child(even) {
    background: #f8f8f8;
}

.board-table tbody tr:hover {
    background: #ececec;
}

.empty {
    padding: 20px;
    text-align: center;
    color: #777;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    background: none;
    border: none;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    color: #333;
}

.pagination button.active {
    font-weight: bold;
    color: red;
}

.pagination button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.title-link {
    color: rgb(25, 25, 25);
    cursor: pointer;
    text-decoration: underline;
}

.title-link:hover {
    color: red;
}