.navbar {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1000;

    color: white;
    font-size: 12px;
}

.n1 {
    margin-right: 400px;
}

.n2 {
    margin-right: 80px;
}

.n3 {
    margin-right: 400px;
}


.middle {
    width: 100%;
    height: 70px;

    background-color: #FF3C27;
}

.middleText {
    padding: 0;
    margin: 0;
    margin-left: 1100px;
}

.f1 {
    font-weight: bold;
    font-size: 45px;
}

.stripe1 {
    position: absolute;
    width: 30px;
    height: 50px;
    background: #D9D9D9;
    transform: skewX(-40deg);
    margin-left: 200px;
}

.stripe2 {
    position: absolute;
    width: 30px;
    height: 50px;
    background: #D9D9D9;
    transform: skewX(-40deg);
    margin-left: 240px;
}

.stripe3 {
    position: absolute;
    width: 30px;
    height: 50px;
    background: #D9D9D9;
    transform: skewX(-40deg);
    margin-left: 340px;
}

.stripe4 {
    position: absolute;
    width: 30px;
    height: 50px;
    background: #D9D9D9;
    transform: skewX(-40deg);
    margin-left: 380px;
}

.stripe5 {
    position: absolute;
    width: 30px;
    height: 70px;
    background: #D9D9D9;
    transform: skewX(-40deg);
    margin-left: 540px;
}

.stripe6 {
    position: absolute;
    width: 30px;
    height: 70px;
    background: #D9D9D9;
    transform: skewX(-40deg);
    margin-left: 580px;
}

.stripe7 {
    position: absolute;
    width: 30px;
    height: 25px;
    background: #D9D9D9;
    transform: skewX(-40deg);
    margin-left: 740px;
}

.stripe8 {
    position: absolute;
    width: 30px;
    height: 25px;
    background: #D9D9D9;
    transform: skewX(-40deg);
    margin-left: 780px;
}

.stripe9 {
    position: absolute;
    width: 30px;
    height: 70px;
    background: #D9D9D9;
    transform: skewX(-40deg);
    margin-left: 880px;
}

.stripe10 {
    position: absolute;
    width: 30px;
    height: 70px;
    background: #D9D9D9;
    transform: skewX(-40deg);
    margin-left: 920px;
}


.last {
    width: 100%;
    height: 40px;
    background-color: #D9D9D9;
    padding-top: 5px;
}

.lastText {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
}